body {
    font-family: verdana;
    /*color: #5E5E5E;
    font-size: 10pt;
    text-transform: uppercase;*/
    padding: 0px;
    margin: 0px;
}

.round_corner {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.round_top {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.round_bottom {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.round_left {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.round_right {
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.float_none {
    clear: both;
}

.c_pointer {
    cursor: pointer;
}

.text_color_white {
    color: white;
}

.text_color_black {
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #767271;
}

.no_ul {
    text-decoration: none;
}

.no_a_ul:hover {
    text-decoration: none;
}

.center {
    top: 50%;
    left: 50%;
}

.border {
    border-width: 1px;
    border-style: solid;
}

.input_button {
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.input_box {
    border: 1px solid #adb0b7;
    width: 300px;
    height: 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.input_box_med {
    border: 1px solid #adb0b7;
    width: 120px;
    height: 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.textarea_box {
    border: 1px solid #adb0b7;
    width: 300px;
    height: 75px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.custom_checkbox {
    outline: 2px #3b3f46 solid;
    background: -moz-linear-gradient(top, #d9dadb, #8a8e94);
    background: -webkit-gradient(linear, left top, left bottom, from(#d9dadb), to(#8a8e94));
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    width: 12px;
    height: 12px;
}

.link_holder {
    padding: 15px;
    margin: 0px 0px 30px 0px;
    color: #717880;
    background: -moz-linear-gradient(top, #f4f5f7, #a9adba);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f5f7), to(#a9adba));
}

.link_holder a {
    color: #717880;
    font-size: 10pt;
    font-weight: bold;
}

.flip_btn {
    font-size: 10pt;
    font-weight: bold;
    float: left;
    width: 110px;
    height: 25px;
    border: 1px solid #515255;
}

.flip_btn div {
    padding-top: 3px;
    text-align: center;
}

.flip_btn_enable {
    color: #4f5459;
    background: -moz-linear-gradient(top, #eff1f3, #c1c3cc);
    background: -webkit-gradient(linear, left top, left bottom, from(#eff1f3), to(#c1c3cc));
    cursor: pointer;
}

.flip_btn_disable {
    color: #ffffff;
    background: -moz-linear-gradient(top, #acb0b7, #6f7781);
    background: -webkit-gradient(linear, left top, left bottom, from(#acb0b7), to(#6f7781));
}

.hide_elem {
    display: none;
}

.show_elem {
    display: block;
}

.form_holder {
    width: 500px;
    margin: 100px auto;
    margin-bottom: 100px;
}

.no_data_msg {
    margin-left: 50px;
    font-size: 10pt;
}

.bg_layout {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: .9;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
}

#preloader_bg {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: .9;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 700;
}

#preloader_content {
    width: 300px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -150px;
    position: fixed;
    background-color: white;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    font-size: 9pt;
    display: none;
    z-index: 900;
}

#preloader_content div {
    margin-bottom: 10px;
}

#pop_msg_bg {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: .9;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 700;
}

#pop_msg_container {
    width: 450px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -225px;
    position: fixed;
    background-color: white;
    padding: 10px;
    font-size: 9pt;
    display: none;
    z-index: 900;
    color: white;
    background-color: #CE6293;
}

#pop_msg_container .header {
    font-size: 14pt;
    font-weight: bolder;
}

#pop_msg_container .msg {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.def_sub_link {
    position: absolute;
    display: none;
    margin-top: 10px;
}

.text_center {
    text-align: center;
}

.text_c {
    text-align: center;
}

.text_l {
    text-align: left;
}

.text_r {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.border {
    border-width: 1px;
    border-style: solid;
}

#msgbox {
    padding: 15px;
}

#msgbox p {
    font-weight: bold;
}


/******** tooltip ************/

.ui-tooltip,
.arrow:after {
    /*background: black;*/
    border: 2px solid white;
}

.ui-tooltip {
    padding: 10px 20px;
    /*color: white;*/
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}


/****************** colors ***********************/

.font_colorb {
    color: black;
}

.font_colorw {
    color: white;
}

.bg_colorw {
    background-color: white;
}

.bg_colorb {
    background-color: black;
}


/****************** font sizes *******************/

.font_size4 {
    font-size: 4pt;
}

.font_size4-5 {
    font-size: 4.5pt;
}

.font_size5 {
    font-size: 5pt;
}

.font_size5-5 {
    font-size: 5.5pt;
}

.font_size6 {
    font-size: 6pt;
}

.font_size6-5 {
    font-size: 6.5pt;
}

.font_size7 {
    font-size: 7pt;
}

.font_size7-5 {
    font-size: 7.5pt;
}

.font_size8 {
    font-size: 8pt;
}

.font_size8-5 {
    font-size: 8.5pt;
}

.font_size9 {
    font-size: 9pt;
}

.font_size9-5 {
    font-size: 9.5pt;
}

.font_size10 {
    font-size: 10pt;
}

.font_size10-5 {
    font-size: 10.5pt;
}

.font_size11 {
    font-size: 11pt;
}

.font_size11-5 {
    font-size: 11.5pt;
}

.font_size12 {
    font-size: 12pt;
}

.font_size12-5 {
    font-size: 12.5pt;
}

.font_size13 {
    font-size: 13pt;
}

.font_size13-5 {
    font-size: 13.5pt;
}

.font_size14 {
    font-size: 14pt;
}

.font_size14-5 {
    font-size: 14.5pt;
}

.font_size15 {
    font-size: 15pt;
}

.font_size15-5 {
    font-size: 15.5pt;
}

.font_size16 {
    font-size: 16pt;
}

.font_size16-5 {
    font-size: 16.5pt;
}

.font_size17 {
    font-size: 17pt;
}

.font_size17-5 {
    font-size: 17.5pt;
}

.font_size18 {
    font-size: 18pt;
}

.font_size18-5 {
    font-size: 18.5pt;
}

.font_size19 {
    font-size: 19pt;
}

.font_size19-5 {
    font-size: 19.5pt;
}

.font_size20 {
    font-size: 20pt;
}

.font_size20-5 {
    font-size: 20.5pt;
}

.font_size21 {
    font-size: 21pt;
}

.font_size21-5 {
    font-size: 21.5pt;
}

.font_size22 {
    font-size: 22pt;
}

.font_size22-5 {
    font-size: 22.5pt;
}

.font_size23 {
    font-size: 23pt;
}

.font_size23-5 {
    font-size: 23.5pt;
}

.font_size24 {
    font-size: 24pt;
}

.font_size24-5 {
    font-size: 24.5pt;
}

.font_size25 {
    font-size: 25pt;
}

.font_size25-5 {
    font-size: 25.5pt;
}

.font_size26 {
    font-size: 26pt;
}

.font_size26-5 {
    font-size: 26.5pt;
}

.font_size27 {
    font-size: 27pt;
}

.font_size27-5 {
    font-size: 27.5pt;
}

.font_size28 {
    font-size: 28pt;
}

.font_size28-5 {
    font-size: 28.5pt;
}

.font_size29 {
    font-size: 29pt;
}

.font_size29-5 {
    font-size: 29.5pt;
}

.font_size30 {
    font-size: 30pt;
}

.font_size30-5 {
    font-size: 30.5pt;
}


/*************************************************/

.test_border {
    border: 1px solid black;
}

.test_ripple_border {
    border: 1px solid black;
}

.test_ripple_border * {
    border: 1px solid black;
}

.test_border_w {
    border: 1px solid white;
}

.test_ripple_border_w {
    border: 1px solid white;
}

.test_ripple_border_w * {
    border: 1px solid white;
}