.font_color1 {
    color: #5E5E5E;
}

.font_color2 {
    color: #6F6F6F;
}

.bg_color1 {}

.border_color1 {
    border-color: #5E5E5E;
}

a {
    color: #6F6F6F;
}


/******** default.html *************/

.main {
    position: relative;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
}

.msgbox {}


/******** footer.html *************/

.footer_main {
    width: 100%;
}

.footer_cont {
    margin: 25px 0px 25px 0px;
    font-size: 10pt;
}


/******** header.html *********/

.h_header {
    margin-top: -3px;
    margin-left: -1px;
}

.h_logo {
    width: 150px;
}

.head_query {
    width: 650px;
    height: 25px;
    padding: 2px 5px 2px 5px;
}

.head_search_btn {
    width: 100px;
    height: 35px;
}


/********* home.html **********/

.h_main {}

.h_list_main {}

.h_list_row {}

.h_title {
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
}

.h_tut_link {
    padding-left: 5px;
    padding-right: 5px;
}

.h_demo_link {
    padding-left: 5px;
    padding-right: 5px;
}

.h_downloads {
    padding-left: 5px;
    padding-right: 5px;
}


/*********** check_fblike **********/

.checkfb_box {
    position: relative;
    width: 405px;
    left: 50%;
    margin-left: -203px;
}

.facebookInner {
    height: 300px;
    overflow: hidden;
}

.checkfb_box_head_msg {
    font-size: 16pt;
}

.checkfb_box_skip_msg {
    font-size: 10pt;
    padding-top: 10px;
}


/********* check_email ***********/

.checkeml_input_box {
    width: 350px;
    height: 30px;
}

.checkeml_subbtn {
    height: 35px;
}

.checkeml_doenload_link a {
    text-decoration: underline;
}